<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KNF Insight</title>
    <script 
        src="https://unpkg.com/htmx.org@2.0.3" 
        integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" 
        crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown.min.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.ico') }}">
</head>
<body>
    <div class="flex-container">
        <aside class="sidebar">
            <div class="sidebar-header">
                <img src="{{ url_for('static', filename='images/logo.ico') }}" alt="logo">
            </div>

            <button class="sidear-button-round" onclick="myFunction()" id="sidebar-icon" data-tooltip="Open Sidebar">
                <img class="sidebar-icon" src="{{ url_for('static', filename='images/sidebar-show.svg') }}">
            </button>

            <div class="side-menu-buttons-container">

                <img class="sidebar-arrow-down" src="{{ url_for('static', filename='images/caret-down-solid.svg') }}">

                <button class="sidear-button-round" id="sliders-button" data-tooltip="Advanced Options">
                    <img class="sidebar-icon" src="{{ url_for('static', filename='images/sliders-solid.svg') }}">
                </button>
                
                <button class="sidear-button-round" id="chat-button" data-tooltip="Prompt Enchanter">
                    <img class="sidebar-icon" src="{{ url_for('static', filename='images/rocketchat-brands-solid.svg') }}">
                </button>

                <button class="sidear-button-round" id="compare-button" data-tooltip="Compare Documents">
                    <img class="sidebar-icon" src="{{ url_for('static', filename='images/code-compare-solid.svg') }}">
                </button>
                <br>
            </div>

            <div class="sidebar-bottom-buttons">
                <button class="sidear-button-round" id="info-button" data-tooltip="How to prompt?">
                    <img class="sidebar-icon" src="{{ url_for('static', filename='images/circle-question-regular.svg') }}">
                </button>
                <button type="button" class="sidear-button-round" id="clean-button" hx-get="/clear_output" hx-target="#output" hx-swap="outerHTML" data-tooltip="Clean Output">
                    <img class="icon" src="{{ url_for('static', filename='images/trash-can-solid.svg') }}">
                </button>
                <button class="sidear-button-round" id="settings-sidebar-button" data-tooltip="Settings">
                    <img class="sidebar-icon" src="{{ url_for('static', filename='images/gear-solid.svg') }}">
                </button>
            </div>
            
        </aside>
        <div class="form-flex-container">
            <!-- <form id="input-form" hx-post="/process" hx-target="#output" hx-swap="beforeend"> -->
                <div class="inside-form-container">
                    <!-- input section -->
                    <div class="input-section" id="input-section">
                        <div class="section-header-wrapper">
                            <h3 class="side-tab-h3">Advanced Options</h3>
                        </div>
                        <div class="input-section-elements">
                            <div class="option-section">

                                <div class="show-pages-checkbox-container">
                                    <label for="output-size">Response size in words:  </label>
                                    <input type="text" id="output-size" name="output_size" minlength="2" maxlength="5" size="2" value="100">
                                </div>

                                <div class="show-pages-checkbox-container">
                                    <input type="checkbox" id="show-pages" name="show-pages">
                                    <label for="show-pages">Show pages</label>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- output section -->
                    <div class="output-section">
                        <div id="output" class="markdown-body">
                            <!-- output containers -->
                            bajo jajo
                        </div>
                        <div class="input-from-container">
                            <div class="input-area-elements">
                                <textarea id="input" name="input" placeholder="Type your prompt here..." required></textarea>
                                <button id="action-button"> <!-- type="submit" class="button-round"> -->
                                    <img class="icon" src="{{ url_for('static', filename='images/arrow-up-solid.svg') }}">
                                </button>
                                <button class="button-round" id="file-button" data-tooltip="Documents" type="button"> <!-- to avoid sending the form -->
                                    <img class="sidebar-icon" src="{{ url_for('static', filename='images/file-regular.svg') }}">
                                </button>
                            </div>
                            <div class="bottom-panel" id="bottom-panel">
                                <div class="bottom-panel-header">
                                    <div class="bottom-panel-checkbox-buttons">
                                        <button type="button" class="bottom-panel-button" onclick="selectAllFiles()">Select All</button>
                                        <button type="button" class="bottom-panel-button" onclick="uncheckAllFiles()">Uncheck All</button>
                                    </div>
                                    <button class="sidear-button-round" type="button" onclick="toggleBottomPanel()">
                                        <img class="icon" src="{{ url_for('static', filename='images/circle-xmark-regular.svg') }}">
                                    </button>
                                </div>
                                <div class="documents-list">
                                    <div class="scrollable-list">
                                        {% for pdf in pdf_files %}
                                        <div class="file-item">
                                            <input type="checkbox" class="file-checkbox" id="{{ pdf }}" name="selected_files" value="{{ pdf }}">
                                            <label for="{{ pdf }}">{{ pdf[11:-4] }}</label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </form> -->
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const socket = io();
            const outputDiv = document.getElementById('output');
            const processBtn = document.getElementById('action-button');
            
            socket.on('new_container', function(data) {
                outputDiv.insertAdjacentHTML('beforeend', data.html);
            });
            
            socket.on('update_content', function(data) {
                const container = document.getElementById(data.container_id);
                if (container) {
                    container.innerHTML = data.html;
                }
            });

            processBtn.addEventListener('click', function() {
                    outputDiv.innerHTML = ''; // clear previous output
                    socket.emit('start_processing');
                });

            // socket.on('message', function(data) {
            //     outputDiv.innerHTML += data.html;
            // });

            // button click handler
            // processBtn.addEventListener('click', function() {
            //     outputDiv.innerHTML = ''; // clear previous output
            //     socket.emit('start_processing');
            // });
            });

        document.getElementById("file-button").addEventListener("click", toggleBottomPanel);

        function toggleBottomPanel() {
            const panel = document.getElementById("bottom-panel");
            if (panel.style.bottom === "0px") {
                panel.style.bottom = "-100%";
            } else {
                panel.style.bottom = "0px";
            }
        }

        function selectAllFiles() {
            const checkboxes = document.querySelectorAll(".file-checkbox"); // select all checkboxes inside the scrollable list
            checkboxes.forEach(checkbox => {
                checkbox.checked = true; // all checkboxes are checked
            });
        }

        function uncheckAllFiles() {
            const checkboxes = document.querySelectorAll(".file-checkbox"); // select all checkboxes inside the scrollable list
            checkboxes.forEach(checkbox => {
                checkbox.checked = false; // all checkboxes are checked
            });
        }

        // document.getElementById('input').addEventListener('keydown', (event) => {
        //     if (event.key === 'Enter' && !event.shiftKey) { // triggers when Enter is pressed while the input field is focused -> Shift+Enter is allowed
        //         event.preventDefault(); // not to create a new line
        //         startProcessing(); // use function -> switches the button to stop
        //         document.getElementById('input-form').requestSubmit(); // submits the form to start /process
        //     }
        // });

        // document.getElementById('input-form').addEventListener('submit', () => { // event listener for submit
        //     startProcessing();
        // });

        // document.addEventListener('htmx:afterRequest', (event) => { // waits of stop button event
        //     if (!event.detail.requestConfig.url.includes('/stop_processing')) { // check if not includes /stop_processing
        //         stopProcessing();
        //     }
        // });

        // function startProcessing() {
        //     console.log('Switching to Stop button'); // logs
        //     const button = document.getElementById('action-button');
        //     const img = button.querySelector('img');
        //     img.src = "{{ url_for('static', filename='images/stop-solid.svg') }}"; // changes icon to stop
            
        //     button.removeAttribute('type'); // remove submit behavior
            
        //     // add click handler for stop functionality
        //     button.onclick = function(e) {
        //         e.preventDefault();
        //         e.stopPropagation(); // stops the click event from propagating (przekazywanie) to parent elements
                
        //         // make the stop request manually
        //         fetch('/stop_processing') // send request to /stop_processing -> custom JavaScript instead of htmx attribues
        //             //.then(response => response.text()) // parses the response text from server
        //             .then(html => {
        //                 //document.getElementById('output').innerHTML += html; // appends it to the #output
        //                 stopProcessing();
        //             });
        //     };
        // }


        // function stopProcessing() {
        //     console.log('Reverting to Start button');
        //     const button = document.getElementById('action-button');
        //     const img = button.querySelector('img');
        //     img.src = "{{ url_for('static', filename='images/arrow-up-solid.svg') }}"; // changes back to arrow up
            
        //     button.onclick = null; // remove custom stop click handler from startProcessing()
            
        //     button.setAttribute('type', 'submit'); // restores default submit behavior
        // }


        // function myFunction() {
        //     var inputSection = document.querySelector(".input-section");
        //     var sideMenuButtons = document.querySelector(".side-menu-buttons-container");

        //     if (inputSection.style.display === "none" || inputSection.style.display === "") {
        //         inputSection.style.display = "flex";
        //         sideMenuButtons.style.display = "flex";

        //         setTimeout(() => {
        //             inputSection.style.opacity = "1";
        //             sideMenuButtons.style.opacity = "1";
        //         }, 200); // for smooth transition
        //     } else {
        //         inputSection.style.opacity = "0";
        //         sideMenuButtons.style.opacity = "0";

        //         setTimeout(() => {
        //             inputSection.style.display = "none";
        //             sideMenuButtons.style.display = "none";
        //         }, 200); // hide after fade out
        //     }
        // }
    </script>
</body>

</html>