<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Name</title>
    <script 
        src="https://unpkg.com/htmx.org@2.0.3" 
        integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" 
        crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown.min.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.ico') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>   
</head>
<body>
    <div class="flex-container">
        <div class="form-flex-container">
            <div id="input-form">
                <div class="inside-form-container">
                    <!-- input section -->
                    <div class="input-section-langchain" id="input-section">
                        <div class="section-header-wrapper">
                            <h3 class="side-tab-h3">Options</h3>
                        </div>
                        <div class="input-section-elements">
                            <div class="option-section">
                            </div>
                        </div>
                    </div>

                    <!-- output section -->
                    <div class="output-section">
                        <div id="output" class="markdown-body">
                            <!-- output goes here -->
                        </div>
                        <div class="input-form-container">
                            <div class="input-area-elements">
                                <textarea id="input" name="input" placeholder="Type your query" required></textarea>
                                <button id="action-button" class="button-round"> <!-- type="submit" class="button-round"> -->
                                    <img class="icon" src="{{ url_for('static', filename='images/arrow-up-solid.svg') }}">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>