<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KNF Insight</title>
    <script 
        src="https://unpkg.com/htmx.org@2.0.3" 
        integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" 
        crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown.min.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.ico') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>   
</head>
<body>
    <div class="flex-container">
        <aside class="sidebar">
            <div class="sidebar-header">
                <img src="{{ url_for('static', filename='images/logo.ico') }}" alt="logo">
            </div>

            <button  class="sidear-button-round" id="sidebar-icon" data-tooltip="Open Sidebar">
                <img class="sidebar-icon" src="{{ url_for('static', filename='images/sidebar-show.svg') }}">
            </button>

            <div class="side-menu-buttons-container">

                <img class="sidebar-arrow-down" src="{{ url_for('static', filename='images/caret-down-solid.svg') }}">

                <button class="sidear-button-round" id="sliders-button" data-tooltip="Advanced Options">
                    <img class="sidebar-icon" src="{{ url_for('static', filename='images/sliders-solid.svg') }}">
                </button>
                
                <button class="sidear-button-round" id="chat-button" data-tooltip="Prompt Enchanter">
                    <img class="sidebar-icon" src="{{ url_for('static', filename='images/rocketchat-brands-solid.svg') }}">
                </button>

                <button class="sidear-button-round" id="compare-button" data-tooltip="Compare Documents">
                    <img class="sidebar-icon" src="{{ url_for('static', filename='images/code-compare-solid.svg') }}">
                </button>
                <br>
            </div>

            <div class="sidebar-bottom-buttons">
                <button class="sidear-button-round" id="info-button" data-tooltip="How to prompt?">
                    <img class="sidebar-icon" src="{{ url_for('static', filename='images/circle-question-regular.svg') }}">
                </button>
                <button type="button" class="sidear-button-round" id="clean-button" data-tooltip="Clear Output">
                    <img class="icon" src="{{ url_for('static', filename='images/trash-can-solid.svg') }}">
                </button>
                <button class="sidear-button-round" id="settings-sidebar-button" data-tooltip="Settings">
                    <img class="sidebar-icon" src="{{ url_for('static', filename='images/gear-solid.svg') }}">
                </button>
            </div>
            
        </aside>
        <div class="form-flex-container">
            <div id="input-form">
                <div class="inside-form-container">
                    <!-- input section -->
                    <div class="input-section" id="input-section">
                        <div class="section-header-wrapper">
                            <h3 class="side-tab-h3">Advanced Options</h3>
                        </div>
                        <div class="input-section-elements">
                            <div class="option-section">

                                <div class="show-pages-checkbox-container">
                                    <label for="output-size">Response size in words:  </label>
                                    <input type="text" id="output-size" name="output_size" minlength="2" maxlength="5" size="2" value="100">
                                </div>

                                <div class="show-pages-checkbox-container">
                                    <input type="checkbox" id="show-pages" name="show-pages">
                                    <label for="show-pages">Show pages</label>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- output section -->
                    <div class="output-section">
                        <div id="output" class="markdown-body">
                            <!-- output goes here -->
                        </div>
                        <div class="input-form-container">
                            <div class="input-area-elements">
                                <textarea id="input" name="input" placeholder="Type your query" required></textarea>
                                <button id="action-button" class="button-round"> <!-- type="submit" class="button-round"> -->
                                    <img class="icon" src="{{ url_for('static', filename='images/arrow-up-solid.svg') }}">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>