.open-button:hover::before {
    content: attr(temperature-tutorial);
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    width: 250px;
    white-space: normal;
    z-index: 1000;
}