:root {
    --primary-color: #2c5282;
    --secondary-color: #4a69bd;
    --background-color: #ffffff;
    --text-color: #2d3748;
    --border-color: #cbd5e0;
}

body {
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    display: flex;
    height: calc(100vh - 70px);
    max-width: 75%;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    gap: 2rem;
}

.input-section {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.output-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.section-header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.text-area-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.input-container {
    flex: 0 0 auto;
    margin-bottom: 1rem;
}

textarea, #output {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    resize: none;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #f8fafc;
    transition: border-color 0.3s ease;
}

textarea:focus {
    outline: none;
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.2);
}

textarea {
    height: 200px;
}

#output {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #ffffff;
    color: #24292e;
}

.button-container {
    margin-top: 0.1rem;
    display: flex;
    align-items: center;
}

button {
    padding: 0.75rem 1.5rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
}

.spinner {
    display: none;
    width: 20px;
    height: 20px;
    border: 2px solid #e2e8f0;
    border-top: 2px solid var(--secondary-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-left: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner.htmx-request {
    display: inline-block;
}

.clear-button {
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.clear-button:hover {
    background-color: var(--primary-color);
    color: white;
}

.section-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;;
    background-color: var(--primary-color);
    color: white;
}

.clear-button-container {
    margin-left: auto;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
    color: #24292e;
    font-size: 16px;
    line-height: 1.5;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

.output-content {
    background-color: #ffffff;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin-bottom: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.output-content h3 {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 0.75rem 1rem;
    margin: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.output-content .markdown-body {
    padding: 1rem;
}

/* style for the scrollable list */
.scrollable-list {
    max-height: 300px; /* adjust the height as needed */
    overflow-y: scroll; /* Enable vertical scrolling */
    border: 1px solid var(--border-color); /* Optional: Add a border */
    padding: 0.5rem; /* Optional: Add padding inside the container */
    background-color: #f8fafc; /* Match the input field background */
    border-radius: 4px; /* Match the design style */
}

/* scrollbars */
.scrollable-list::-webkit-scrollbar {
    width: 4px;
}

.scrollable-list::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 4px;
}

.scrollable-list::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
}